<div id="portrait-page" class="page-wrapper">
	<div id="background-video-container"></div>
	<div class="morphing-video-container"></div>
	<div class="discover-text-container main-text-btn btn" data-color-a="{{colors.index}}" data-color-b="{{colors.main}}">
		<div class="line"></div>
		<div class="text-front">{{groupTitle}}</div>
		<div class="background-front" style="background-image: url('/media/group/{{group}}/common/btn-bg.png');"></div>
		<div class="text-back">{{groupTitle}}</div>
	</div>
</div>