<div id="product-page" class="page-wrapper">
	<canvas></canvas>
	<div class="shop-text-container main-text-btn btn" data-color="{{colors.main}}">
		<div class="line"></div>
		<div class="text-front">{{groupTitle}}</div>
		<div class="background-front" style="background-image: url('{{mediaBasePath}}media/group/{{group}}/common/btn-bg.png');"></div>
		<div class="text-back">{{groupTitle}}</div>
	</div>
</div>