<div id="viewport">
	<ul class="stack">
		{{#each portraits}}
			<li>
				<div class="relative" style="border-color:{{index_color}};">
					<div class="face"><img src="{{face_url}}"></div>
					<div class="shoe"><img src="{{shoe_url}}"></div>
				</div>
			</li>
		{{/each}}
	</ul>
</div>
<div class="backgrounds">
	<ul>
		{{#each portraits}}
			<li data-group="{{group}}" data-color="{{index_color}}" style="background-color:{{background_color}};"></li>
		{{/each}}
	</ul>
</div>